.fa-xmark { 
    font-size: 80px;
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    
}
.list-headers {
    display: flex;
    justify-content: space-between;
}
.statement {
    padding: 5px 20px;
}
.list-headers {
    background: #42b983;
}
.detail-row {
    background: #42b983;
}